@model IndyBooks.ViewModels.AddBookViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Add Book";
}
<h3>Add New Book</h3>
<form asp-action="CreateBook" asp-controller="Admin">
    <div>
        <label asp-for="@Model.Title"></label>
        <input asp-for="@Model.Title" />
    </div>
    <!-- TODO: Add the rest of the input fields needed for a new Book-->
    <!--div>
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name" />
    </div-->
    <div>
        <label asp-for="@Model.Name"></label>
        <select asp-for="AuthorId"
                asp-items="@(new SelectList(Model.Writers,"Id","Name"))">
            <option>Please select one</option>
        </select>
        OR enter new Author: <input asp-for="@Model.Name" />
    </div>
    <div>
        <label asp-for="@Model.SKU"></label>
        <input asp-for="@Model.SKU" />
    </div>
    <div>
        <label asp-for="@Model.Price"></label>
        <input asp-for="@Model.Price" />
    </div>

    <input type="submit" value="Submit" />
</form>
